<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552284182178-08lff10g78v2tq9qqro7kl3b2t1dvpv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552284182178-08lff10g78v2tq9qqro7kl3b2t1dvpv9</string>
	<key>API_KEY</key>
	<string>AIzaSyAYdqJ9ITu9GEOanc-F24bk-AQIgJYfSCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>552284182178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perezgabriel.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d6a40</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d6a40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552284182178:ios:f942577b1eac04bd</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-d6a40.firebaseio.com</string>
</dict>
</plist>